.main{
    font-family: Roboto,arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 17px;
    row-gap: 20px;
    background-color: rgb(249, 249, 249);
}

.section{
    display: flex;
    flex-direction: column;
}
.video{
    /*No content*/
    position: relative;

}
.thumbnail-1{
    width: 100%;
}
.video-time{
    background-color:black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 13px;
    font-family: roboto,arial;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.video-discription{
    display: flex;
    margin-top: 7px;

}
.channel-pic{
    margin-right: 10px;    
}
.channel{
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.video-info{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;

}
.channel-name,.view-date{
    color:rgb(114, 114, 114) ;
    font-size: 12px;
    margin-bottom: 3px;
}


@media(min-width:1200px ){
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(min-width:800px ) and (max-width:1200px){
    .main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:600px ) and (max-width:800px){
    .main{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px){
    .main{
        grid-template-columns: 1fr ;
    }
}




